
{% extends "base.html" %}
{% load i18n %}
{% load url from future %}


{% block content %}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

<p>{% trans "Account Disable" %}</p>

    <form action="/account/disable_account/" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit">
    </form>
<hr />
<!-- <a href=""><input type="submit" value="Change Password" /></a><br />
<a href=""><input type="submit" value="Change Email" /></a><br />
<hr />
<a href=""><input type="submit" value="Back to Home Page" /></a><br /> -->

{% endblock %}

{% block sidebar %}

    <aside class="large-3 columns">
    {% block categories %}
        {% if user.is_authenticated %}
            <ul class="side-nav">
                <li><h4><a href="{% url 'logout' %}">{% trans "Logout" %}</a></h4></li>
                <li><h4><a href="{% url 'index' %}">{% trans "Homepage" %}</a></h4></li>
                <li><h4><a href="{% url 'profile' %}">{% trans "Profile" %}</a></h4></li>
                <li><h4><a href="">{% trans "My Articles" %}</a></h4></li>
            </ul>
        {% else %}
            <ul class="side-nav">
                <li><h4><a href="{% url 'login' %}">{% trans "Login" %}</a></h4></li>
                <li><h4><a href="{% url 'register' %}">{% trans "Register" %}</a></h4></li>
                <li><h4><a href="{% url 'all_articles' %}">{% trans "All Articles" %}</a></h4></li>
                <li><h4><a href="{% url 'terms_of_use' %}">{% trans "Terms of Use" %}</a></h4></li>
            </ul>
        {% endif %}
        <div class="panel">
        {% block panel %}
            <h5>News</h5>
            <p>Blog Assignment with using Django Framework v1.4.5 and Python Programming Language. Also, there is HTML,CSS and JS.</p>
             <!--<a href="">Read More &rarr;</a>-->
        {% endblock %}
        </div>
        {% endblock %}
    </aside>
{% endblock %}