<html>
<head><title></title></head>
<body>
<div>
<h3>Murat Can Umit Index Page</h3>
</div>

<hr />
<div>
<a href="{% url profile %}"><input type="submit" value="Profile" /></a><br />
<a href="{% url logout %}"><input type="submit" value="Logout" /></a><br />
</div>
<hr />
<div><b><p>Here are the Recent Posts |  {{ user }} <p></b></div>
<div>

<a href="{% url postadd %}"><input type="submit" value="Post Add" /></a><br />
<hr />

{% if latest_post_list %}
    <ul>
    {% for post in latest_post_list %}
        <li><hr /><h1>{{ post.title }}</h1>
            {% if post_image %}
                <br /><img src="/uploadedmedia/{{ post.post_image }}" width="200"/><br />
            {% endif %}
            <h4>{{ post.text }}</h4>
            <p>Author: {{ post.author }}</p>
            <img src="/uploadedmedia/{{ user.userprofile.user_avatar}}" width="128"/>
            <p>{{ post.created_on }}</p>
            <a href="{% url detailed post.id %}"><input type="submit" value="Show Detailed" /></a>
        </li><br />
    {% endfor %}
    </ul>
    <hr />
{% else %}
    <p>No Posts are available.</p>
{% endif %}
</div>
</body>
</html>