{% extends "base.html" %}
{% load i18n %}
{% load url from future %}

{% block content %}
{% if latest_post_list %}
    <ul>
    {% for post in latest_post_list %}
        <hr />
        <h3><a href="">{{ post.title }}</a></h3>
        <p>{% trans "Written by" %} <a href="">{{ post.author }}</a> on {{ post.created_on }}</p>
        <div class="row">
          <div class="large-6 columns">
            <p>{{ post.text }}</p>
          </div>
          <div class="large-6 columns">
            <img src="http://placehold.it/400x240&text=[img]" />
          </div>
        </div>

            <h5><a href="">{% trans "Read More" %}</a></h5>
        <br />
    {% endfor %}
    </ul>
    <hr />
{% else %}
    <p>No Posts are available.</p>
{% endif %}
{% endblock %}



