<html>
<head><title></title></head>
<body>
<div>
<h3>Post Detail Page</h3>
</div>

<hr />

<div>
<h3>{{ post.title }}</h3>
</div>

<hr />

<div>
<p><i>{{ post.text }}<br />
<p>Author : {{post.author}} </p></i></p>
<p>{{ post.created_on }}</p>
<a href="{% url homepage %}"><input type="submit" value="Back to Home Page" /></a>
</div>

<hr />

<div>
<h4>Comments</h4>

{% if post_comment_list %}
     <ul>
        {% for post_comment in post_comment_list %}
        	{% if post.id == post_comment.object_id %}
            	<li><p><i>{{ post_comment.text }} <br /><p>Author : {{post_comment.author}} </p></i></p></li>
            		{% show_comments post_comment comment_list %}
        	{% endif %}
        {% endfor %}
    </ul>
{% else %}
    <p>No Comments are available.</p>
{% endif %}
</div>
<hr />
</body>
</html>