{% load i18n %}
{% load url from future %}
<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <title>{% block title %} Murat Can Ümit | Blog {% endblock %}</title>
  {% block css %}
  <link rel="stylesheet" href="{{ STATIC_URL }}css/normalize.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/foundation.css">
  {% endblock %} 
  {% block js %}
  <script src="{{ STATIC_URL }}js/vendor/custom.modernizr.js"></script>
  {% endblock %}
</head>
<body class="bodyextras">

  <!-- Nav Bar -->

  <div class="row">
    {% block navbar %}
    <div class="large-12 columns">
      <div class="nav-bar right">
       <ul class="button-group">
         <li><a href="" class="button">{% trans "Home" %}</a></li>
         <li><a href="" class="button">{% trans "About" %}</a></li>
         <li><a href="" class="button">Blog</a></li>
         <li><a href="" class="button">{% trans "Contact" %}</a></li>
        </ul>
      </div>
      <h2>{% block headline %} Murat Can Ümit |<small> BLOG </small> {% endblock %} </h2>
      <hr />
    </div>
    {% endblock %}
  </div>

  <!-- End Nav -->


  <!-- Main Page Content and Sidebar -->

  <div class="row">

    <!-- Main Blog Content -->
    <div class="large-9 columns" role="content">
      {% block content %}
      <article>

        <h3><a href=""></a></h3>
        <h6><a href=""></a></h6>

        <div class="row">
          <div class="large-6 columns">
            <p></p>
          </div>
          <div class="large-6 columns">
            <img src="http://placehold.it/400x240&text=[img]" />
          </div>
        </div>

        <p></p>

        <p></p>

            <h6><a href=""></a></h6>
      </article>

      <hr />
      {% endblock %}
    </div>

    <!-- End Main Content -->


    <!-- Sidebar -->
  <div>
    {% block sidebar %}
    <aside class="large-3 columns">
      {% block categories %}
      <ul class="side-nav">
        <li><h4><a href="">{% trans "Login" %}</a></h4></li>
        <li><h4><a href="">{% trans "Register" %}</a></h4></li>
        <li><h4><a href="">{% trans "All Articles" %}</a></h4></li>
        <li><h4><a href="">{% trans "Terms of Use" %}</a></h4></li>
      </ul>

      <div class="panel">
        {% block panel %}
        <h5>News</h5>
        <p>Blog Assignment with using Django Framework v1.4.5 and Python Programming Language. Also, there is HTML,CSS and JS.</p>
        <!--<a href="">Read More &rarr;</a>-->
        {% endblock %}
      </div>
      {% endblock %}
    </aside>
    {% endblock %}
    <!-- End Sidebar -->
  </div>

  <!-- End Main Content and Sidebar -->


  <!-- Footer -->

  <footer class="row">
    {% block footer %}
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-6 columns">
          <p style="color:#ecf0f1">&copy; www.muratcanumit.com</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li><a href="">{% trans "Authors" %}</a></li>
            <li><a href="">{% trans "Partners" %}</a></li>
            <li><a href="">{% trans "Links" %}</a></li>
            <li><a href="">{% trans "Social" %}</a></li>
          </ul>
        </div>
      </div>
    </div>
    {% endblock %}
  </footer>
  {% block jsvendor %}
  <script>
  document.write('<script src={{ STATIC_URL }}js/vendor/' +
  ('__proto__' in {} ? 'zepto' : 'jquery') +
  '.js><\/script>')
  </script>
  <script src="{{ STATIC_URL }}js/foundation.min.js"></script>
  <script>
    $(document).foundation();
  </script>
  {% endblock %}
  <!-- End Footer -->
</body>
</html>

